* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

a {
    width: 0 auto;
    margin: 5px;
    padding: 5px;
    color: olivedrab;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

a:hover {
    color: white;
    background-color: olivedrab;
}

li {
  display: inline;
  text-align: center;
  align-content: center;
}

h2 {
  color: darkcyan;
}

.related-title {
   color: seagreen;
}

.related-books {
    display: flex;
    flex-direction: row;

    & > div {
        width: 25%;
    }
}

.table {
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: seagreen;
    padding-left: 150px;
}

th {
    padding-left: 50px;
}
